{% extends 'base.html' %}
{% block body %}
<div class="container">
<div class="row">
    {% for i in film_list %}
    <div class="col-md-3">
    <div class="card" style="width: 100%; height: 15vw; object-fit: cover;">
    <img class="card-img-top" src="{{ i.img.url }}" alt="Card image cap" width="150px" height="300px" >
    <div class="card-body">
    <h5 class="card-title" style="font-size:12px;">{{ i.name }}</h5>
    <a href="{% url 'filmbuzz:detail' i.id %}" class="btn btn-primary">View</a>
    </div>
</div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}